target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Xcode ###
**/xcuserdata/

### Allure (kết quả test sinh ra khi chạy) ###
allure-results/
allure-report/
allure-results-by-device/

### Secrets / test data cá nhân ###
**/src/test/resources/testdata.local.properties

### Temporary Logs & Dumps ###
*.txt
*.log
*.bundle
room_actual_dump.xml
