<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Yokara Automation Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.AllureListener"/>
    </listeners>

    <test name="Yokara Tests">
        <classes>
            <class name="tests.NavigationTest"/>
            <class name="tests.LoginMethodTest"/>
            <class name="tests.RoomTest"/>
        </classes>
    </test>

</suite>
